.alert {
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-200%);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.alert.alert-success {
    background-color: #68b17b;
}
.alert.alert-error {
    background-color: rgb(207, 15, 15);
}
.alert.show {
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
}
